@import url("https://fonts.googleapis.com/css?family=Frank+Ruhl+Libre:400,900");

html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overscroll-behavior: none;
  font-family: "Frank Ruhl Libre", serif;
}

p {
  line-height: 1.66;
  letter-spacing: 0.1px;
}
